/* pick background color based on photo:
https://www.ginifab.com/feeds/pms/color_picker_from_image.php */

body {
  align-items: center;
  background: #8daabf url("/images/bkg1Cropped.jpg") repeat fixed center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #8daabf; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #8daabf;
}

.button:hover {
  background-color: #8daabf;
}

#header {
  background: #7394ab left top;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto 18px;
  overflow: hidden;

  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

/* Carousel */

.js-Carousel {
  background: #272822;
  height: 300px;
  margin: 0 auto 2em;
  overflow: hidden;
  position: relative;
  width: 600px;
}
.js-Carousel > ul {
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 9999px;
}
.js-Carousel > ul li {
  display: inline-block;
  float: left;
  width: 600px;
  transition: margin-left 0.3s ease;
}
.js-Carousel > ul li img {
  max-width: 100%;
}
.js-Carousel .js-Carousel-arrowPrev,
.js-Carousel .js-Carousel-arrowNext {
  background: transparent;
  border: 0;
  color: #e0e0e0;
  cursor: pointer;
  font: 400 10em sans-serif;
  height: 200px;
  outline: 0;
  position: absolute;
  top: 0;
  text-shadow: 0 0 10px #444444;
  width: 90px;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-arrowPrev:hover,
.js-Carousel .js-Carousel-arrowNext:hover {
  color: #aaaaaa;
}
.js-Carousel .js-Carousel-arrowPrev {
  left: 0;
}
.js-Carousel .js-Carousel-arrowNext {
  right: 0;
}
.js-Carousel .js-Carousel-dots {
  display: inline-block;
  height: 1.25em;
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: auto;
}
.js-Carousel .js-Carousel-dots li {
  background: #aaaaaa;
  border-radius: 0.75em;
  cursor: pointer;
  display: inline-block;
  height: 0.75em;
  margin: 0 0.75em;
  width: 0.75em;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-dots li.is-active {
  background: #ffffff;
  box-shadow: 0 0 3px 3px #ddd;
}
.js-Carousel .js-Carousel-dots li:hover {
  background: #f5f5f5;
}
.js-Carousel .js-Carousel-btnStop,
.js-Carousel .js-Carousel-btnPlay {
  background: #aaaaaa;
  border: 0;
  cursor: pointer;
  height: 2.25em;
  position: absolute;
  bottom: 1em;
  left: 2em;
  text-align: center;
  width: 5em;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-btnStop:hover,
.js-Carousel .js-Carousel-btnPlay:hover {
  background: #f5f5f5;
}
.js-Carousel .js-Carousel-btnStop {
  left: 100px;
}
